[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
werkzeug = "==3.0.4"
boto3 = "==1.35.41"
botocore = "==1.35.41"
python-dotenv = "==1.0.1"
promql-parser = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
